$color-bg-primary: #131f43;
$color-bg: #f2f2f2;
$color-text-primary: #ffffff;
$color-text-dark: #030906;
$color-text-muted: #cfd1d8;
$color-card-placeholder: #e0e0e0;
$color-card: rgba(224, 224, 224, 0.1);

$brakepoint-mobile: 599px;